<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Basic Layout - jQuery EasyUI Demo</title>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/highcharts.js}"></script>
</head>
<body>
	
	<div class="easyui-layout" style="width: 100%; height: 720px;">
		<div data-options="region:'north'" style="height: 120px">
			<div style="float:left;margin:20px" class="banner-font-left" th:if="${session.user} != null">
  				<span th:text="${session.user.name}" id=""></span>
  				&nbsp;您好，欢迎使用本交易系统
    		</div>
    		<div style="float:right;margin:20px">
  				<span>
  					<a href="/main/end">退出</a>
  					<a href="javascript:updatePassword()">修改密码</a>
  				</span>
    		</div>
		</div>
		<div data-options="region:'south',split:true" style="height: 80px;"></div>
		<div data-options="region:'west',split:true" title="West"
			style="width: 20%;">
			<div class="easyui-panel" style="padding: 5px">
				<ul class="easyui-tree" id="tt">
				</ul>
			</div>
		</div>
		<div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'">
			<div class="easyui-tabs" fit="true" border="false" id="tabs">
				<div title="首页" >
	            	<div style="margin: 10px;">
	                	<label>图形切换: </label>
	                	<select class="easyui-combobox" id="charttype"  style="width:200px;">
							<option value="01" selected="selected">折线图</option>
							<option value="02">饼形图</option>
							<option value="03">柱形图</option>
						</select>
	            	</div>
	         	<div id="container" style="width:80%;height:80%;padding:10px;"></div>
	      		</div>
			</div>
			<div id="uppass" class="easyui-dialog" title="角色分配" data-options="iconCls:'icon-save',closed:true,modal:true" style="width:20%;height:300px;padding:10px;">
       			<form id="uppassword" class="easyui-form" autocomplete="off">
       				<input id="id" type="hidden" class="easyui-textbox" name="id" th:value="${session.user.id}">
            		<div style="margin-bottom:20px">
                		<input id="name" class="easyui-textbox" readonly="readonly" name="name" style="width:80%" data-options="label:'Name:'" th:value="${session.user.name}">
            		</div>
            		<div style="margin-bottom:20px">
                		<input id="password" class="easyui-textbox" name="password" style="width:80%" data-options="label:'password:',required:true" th:value="${session.user.password}">
            		</div>
            		<a class="easyui-linkbutton" onclick="submitUppass()" style="width:80px;margin-top:50px;margin-left: 100px">Submit</a>
        		</form>
    		</div>
		</div>
	</div>
</body>
<script type="text/javascript">
$(function() {
	treeInit();
	doAjax("01");
});
function treeInit(){
	//var data=[{"id":1,"text":"系统管理","children":[{"checked":false,"id":2,"text":"用户管理"},{"checked":false,"id":3,"text":"角色管理"}]},{"children":[{"checked":false,"id":5,"text":"客户信息"},{"checked":false,"id":6,"text":"账户信息"}],"id":4,"text":"客户管理"}];
    //var data=[{"checked":false,"children":[{"checked":false,"id":2,"text":"用户管理"},{"checked":false,"id":3,"text":"角色管理"}],"id":1,"text":"系统管理"},{"checked":false,"children":[{"checked":false,"id":5,"text":"客户信息"},{"checked":false,"id":6,"text":"账户信息"}],"id":4,"text":"客户管理"}];
	$('#tt').tree({
		lines: true,
		url:"/role/menu",
		onClick: function(node){
	    	if (node.attributes) {
                Open(node.text, node.attributes,node.icons);
            }
		}
/* 		data:data */
	});
};

function Open(text, url,icons) {
	if ($("#tabs").tabs('exists', text)) {
        $('#tabs').tabs('select', text);
    } else {
        $('#tabs').tabs('add', {
            title : text,
            content:'<iframe  src="'+url+'" frameBorder="0" border="0" marginheight=0 marginwidth=0 scrolling= "no" style="width: 100%; height: 100%;" noResize/>',
            closable : true,
            iconCls:icons
            //href:path+url
        });
    }
}
function updatePassword(){
	$('#uppass').dialog('open').dialog('setTitle', '修改密码');
} 
function submitUppass(){
	$.ajax({
		url:'/user/submitUppass',
		dataType:"text",
		data:$("#uppassword").serialize(),
		type:'post',
		success:function(res){
			$('#uppass').window('close');	
		}
	})
}
function doAjax(){
	$.ajax({
		url:'/user/submitUppass',
		dataType:"text",
		data:$("#uppassword").serialize(),
		type:'post',
		success:function(res){
			$('#uppass').window('close');	
		}
	})
	
}
function doAjax(typeId){
	var xAxis=[];
	var datas=[];
	$.ajax({
		type:"post",
		url:"/main/getChart",
		data:{"typeId":typeId},
		dataType:"json",
		success:function(res){
			var chart = Highcharts.chart('container', {
				chart: {
					type: 'bar'
				},
				title: {
					text: res.title
				},
				xAxis: {
					//['非洲', '美洲', '亚洲', '欧洲', '大洋洲']
					categories: res.y,
					title: {
						text: null
					}
				},
				yAxis: {
					min: 0,
					title: {
						text: '人口总量 (百万)',
						align: 'high'
					},
					labels: {
						overflow: 'justify'
					}
				},
				tooltip: {
					valueSuffix: ' 百万'
				},
				plotOptions: {
					bar: {
						dataLabels: {
							enabled: true,
							allowOverlap: true // 允许数据标签重叠
						}
					}
				},
				legend: {
					layout: 'vertical',
					align: 'right',
					verticalAlign: 'top',
					x: -40,
					y: 100,
					floating: true,
					borderWidth: 1,
					backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
					shadow: true
				},
				series: [{
				/*  name: '1800 年',
					data: [107, 31, 635, 203, 2] */
					name: res.name,
					data: res.data
				}]
			});
		}
	})
	
} 
</script>
</html>